In [1]:
import pandas as pd

dset = pd.read_csv('sudoku.csv')

In [2]:
# Features in Dataset (2 columns)
print("FEATURES : ", list(dset.columns))

FEATURES :  ['quizzes', 'solutions']

In [3]:
# Empty blocks represented by '0'

y = lambda x: x.count('0')
dset['no_of_zeros'] = dset['quizzes'].str.count('0')

# First 5 rorws will be Displayed

dset[['quizzes','no_of_zeros']].head()

                                             quizzes  no_of_zeros
0  0043002090050090010700600430060020871900074000...           46
1  0401000501070039605200080000000000170009068008...           47
2  6001203840084590720000060050002640300700800069...           47
3  4972000001004000050000160986203000403009000000...           48
4  0059103080094030600275001000300002010008200070...           49

In [4]:
# Total no of zeros ie. empty blocks
minZeros = min(list(dset['no_of_zeros']))
maxZeros = max(list(dset['no_of_zeros']))

print("Minimum Zeros : "+ str(minZeros)+ "\nMaximum Zeros : "+ str(maxZeros))

Minimum Zeros : 44
Maximum Zeros : 52

In [ ]:
# Total rows
print("Total rows :",len(list(dset['quizzes'])))

Total rows : 1000000

In [ ]:
dset.head()

,quizzes,solutions,no_of_zeros
0,0043002090050090010700600430060020871900074000...,8643712593258497619712658434361925871986574322...,46
1,0401000501070039605200080000000000170009068008...,3461792581875239645296483719658324174729168358...,47
2,6001203840084590720000060050002640300700800069...,6951273841384596727248369158512647392739815469...,47
3,4972000001004000050000160986203000403009000000...,4972583161864397252537164986293815473759641828...,48
4,0059103080094030600275001000300002010008200070...,4659123781894735623275681497386452919548216372...,49

In [ ]:
dset.tail()

,quizzes,solutions,no_of_zeros
999995,3000280000290000300054001077402030980086070031...,3175289464291768356854391277462135989586472131...,47
999996,0030006000040860057000009409350407208067200502...,5234976811942863757685139429356417288167294532...,47
999997,0003508200618040300500090000700600029030070100...,7493568212618745393582197468749613529235876146...,49
999998,0702006900030400010000650205600300000947005800...,4752816936239478511893657245628341793947165828...,48
999999,3004016201000804000050208300578000000007005030...,3984716251263854797456298316578139429147625838...,48

In [ ]:
# Display in Grid Format

def grid(string):
    
    ''' Displaying String Format into grid format (9x9) '''
    
    nine_x_three = []
    count = 0
    
    nine_x_one = [string[:9]] + [(string[9:18])] + [(string[18:27])] \
                + [(string[27:36])] + [(string[36:45])] + [(string[45:54])] \
                + [(string[54:63])] + [(string[63:72])] + [(string[72:81])]
    
    for row in nine_x_one:
            nine_x_three.append(row[:3] + "  " + row[3:6] + "  " + row[6:9])
    
    return nine_x_three

In [ ]:
# Sample data
a = list(dset['quizzes'])[0]
print(a)

004300209005009001070060043006002087190007400050083000600000105003508690042910300

In [ ]:
def display(string):
    ''' Display Grid View '''
    
    count = 0
    
    for row in string:
        print(row)
        count += 1
        if count%3==0 and count!=9:
            print()

In [ ]:
print("_________________________________________________________________________________________\n")

string = input("Enter Here....\n")
print("_________________________________________________________________________________________")


print("\nUNSOLVED SUDOKU")
grid_9x9 = grid(string)

display(grid_9x9)

_________________________________________________________________________________________

In [ ]:
# Solving for Given Suduko 

solve = list(dset['quizzes']).index(string)
solution = grid(list(dset['solutions'])[solve])

print("SOLVED SUDUKO")
display(solution)